{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
            In this game you will be matched with one other student in the room. One of you will be randomly assigned
            to be Player 1, while the other person will be Player 2.
        </p>
        <p>
            Stage 1: Player 1 will move first, choosing between “In” or “Out.” If Player 1 chooses “Out,” then the game
            ends, with Player 1 earning 100 and Player 2 earning 600. If Player 2 chooses “In,” then Player 2 learns
            Player 1’s choice and chooses between “Up” (Player 1 earns 500 and Player 2 earns 100) or “Down” (Player
            1 earns −1000 and Player 2 earns −1000).
        </p>
        <p>
            Stage 2: Player 1 will move first, choosing between “Up” or “Down.” Player 2 will then learn Player 1’s
            choice and choose between “A” or “B.” The game and the payoffs in each case are shown below.
        </p>
    </div>
</div>