{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3 class="card-header">
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p class="card-text">
            {% if player.round_number < 3 %}
                &emsp;This game will involve two parts. <b>In the first part,</b> you will be matched with one other person in the
                room. One person is assigned to be the role of <b>”proposer”</b> and the other person is the <b>”responder.”</b>
                The proposer will be asked to propose a split of a total of {{ Constants.endowment }} between the proposer and responder.
                That is, the proposer will make an offer to the responder that specifies how much of the {{ Constants.endowment }} the
                responder will receive, and the proposer will receive the rest. The amount offered can be anything from 0 to
                {{ Constants.endowment }}, in one cent increments.
                <br/>
                &emsp;The earnings of the players depend on whether or not the responder accepts the offer. If the responder
                accepts the offer, they receive the number of dollars offered and the proposer receives the rest.
                If the responder rejects the offer, both players receive zero earnings.
                <br/>
                &emsp;To summarize:
                <ol>
                    <li>The proposer offers an amount of money to the responder. The offer is between 0 and {{ Constants.endowment }} out
                        of the total of {{ Constants.endowment }}.</li>
                    <li>The responder learns the offer and accepts or rejects it.</li>
                    <li>If the offer is accepted, the responder receives the amount offered and the proposer receives the
                        remainder of the {{ Constants.endowment }}. If the offer is rejected, both players earn nothing for the game.</li>
                </ol>
                &emsp;You will play this game <b>two times</b> with different randomly selected players in the room. You will be in
                a different role each time – i.e., if you were the proposer in the first game, you will be the responder in
                the second game and vice-versa.
                <br/>
            {% else %}
                &emsp;You will now play a similar game, with one change. In this version, if the responder
                rejects the proposer’s offer, the game does not immediately end. Instead, the responder can make a
                counter-offer. However, if the original offer of how to divide {{ Constants.endowment }} is rejected, the players will
                only have $25 to split between them. That is, the counter-offer made by the responder specifies how
                much of the $25 the proposer would receive, and the responder will receive the remainder of the $25. The
                proposer can then accept or reject this counter-offer. If the counter-offer is rejected, the game ends and
                both players earn nothing.
                <br/>
                &emsp;To summarize:
                <ol>
                    <li>The proposer offers an amount of money to the responder. The offer is between 0 and {{ Constants.endowment }}
                        out of the total of {{ Constants.endowment }}.</li>
                    <li>The responder learns the offer and accepts or rejects it.</li>
                    <li>If the offer is accepted, the responder receives the amount offered and the proposer receives the
                        remainder of the {{ Constants.endowment }}. If the offer is rejected, the responder counter-offers
                        an amount of money to the proposer. This offer is between 0 and $25 out of the new total of $25.</li>
                    <li>In the event a counter-offer was made, the proposer learns the counter-offer and accepts or rejects
                        it. If the counter-offer is accepted, the proposer receives the amount offered and the receiver
                        receives the remainder of the $25. If the counter-offer is rejected, the game ends and both players
                        earn nothing.</li>
                </ol>
                &emsp;You will play this game <b>two times</b>  with different randomly selected players in the room. You will be in
                a different role each time – i.e., if you were the proposer in the first game, you will be the responder in
                the second game and vice-versa.
            {% endif %}
        </p>
    </div>
</div>