{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Final Results
{% endblock %}

{% block content %}
    <p>
        {% if player.id_in_group == winner %}
            You won!
            <br/>
            After 10 periods, your total payoff is {{ my_total }}.
        {% else %}
            You did not win.
            <br/>
            After 10 periods, your total payoff is {{ my_total }}. The winner was Player {{ winner }} with a total payoff
            of {{ winner_payoff }}.
        {% endif %}

    </p>

    {% next_button %}
{% endblock %}

