{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3 class="card-header">
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
            &emsp;This experiment consists of 10 periods. In each period, you will be randomly matched with 4 other
            participants in the room.  Your earnings depend on your choices as well as the choices of the people you
            are matched with. Each person will choose an effort level between 1 and 5. Your earnings depend on the
            minimum effort level chosen by you and the people you are matched with, minus your own effort.
            Specifically, your payoff is determined by the equation:
            <br/> <br/>
            &emsp;Payoff = 5 * Minimum Effort - Your Effort
            <br/> <br/>
            &emsp;The following table lists the payoff you will receive for each effort level that you might choose and the
            minimum effort provided by the entire team (including you).

            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="6" scope="col" class="text-center">Minimum Effort<br></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th rowspan="6" scope="row" class="align-middle text-center" style="width:10%">Your Effort</th>
                        <td></td>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                    </tr>
                    <tr>
                        <th>1</th>
                            <td>4</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                    </tr>
                    <tr>
                        <th>2</th>
                            <td>3</td>
                            <td>8</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                    </tr>
                    <tr>
                        <th>3</th>
                            <td>2</td>
                            <td>7</td>
                            <td>12</td>
                            <td>-</td>
                            <td>-</td>
                    </tr>
                    <tr>
                        <th>4</th>
                            <td>1</td>
                            <td>6</td>
                            <td>11</td>
                            <td>16</td>
                            <td>-</td>
                    </tr>
                    <tr>
                        <th>5</th>
                            <td>0</td>
                            <td>5</td>
                            <td>10</td>
                            <td>15</td>
                            <td>20</td>
                    </tr>
                </tbody>
            </table>

            &emsp;For example, if you choose 3 and the other four group members choose 5, 3, 3 and 2 then the group minimum
            is 2 and your payoff is (5 * 2) − 3 = 7. If instead, you chose 2 like one of the other group members, your
            payoff would be (5 * 2) − 2 = 8.
        </p>
    </div>
</div>