{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Voluntary Contributions with Punishment: Round {{ player.round_number }}
{% endblock %}

{% block content %}
    <p>
        Below are the contributions to your group with randomly assigned player labels. Please decide how many deduction
        points you would like to assign to each player. Keep in mind that each deduction point you assign to another player
        costs you 1 dollar and reduces that player's payoff by 3 dollars. You may assign up to 5 deduction points to each
        group member.
    </p>
    <table class="table table-md table-striped text-center" style="width: 25%">
        <thead>
            <tr>
                <th></th>
                <th colspan={{ session.config.players_per_group }} scope="col">Group Contributions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in range %}
                    <th>P{{ i }}</th>
                {% endfor %}
                <th>Total</th>
            </tr>
            <tr>
                {% for cont in contributions %}
                    <td>{{ cont.0 }}</td>
                {% endfor %}
                <td>group.group_project</td>
            </tr>
        </tbody>
    </table>
    {% formfield player.deductions label='' %}

    {% next_button %}
{% endblock %}
