{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3 class="card-header">
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p class="card-text">
            &emsp;In this experiment, you and another player are playing a game for an amount of money. The amount must
            be an integer between 11 and 20. Each player will receive the amount they request. A player will receive an
            additional amount of 20 dollars if they ask for exactly one dollar less than the other player.
            <br/>
            &emsp;What amount of money would you request?
        </p>
    </div>
</div>