{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
            In this study, you will guess a number from 0 to 100 with up to three decimal places.
            Each player will simultaneously and privately choose their guess.
            The guess closest to two-thirds of the average of all guesses is the winner.
        </p>
    </div>
</div>