{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Final Results
{% endblock %}

{% block content %}
    <p>
        {% if my_payoff > opponent_payoff %}
            You won!
        {% elif my_payoff == opponent_payoff %}
            You tied!
        {% else %}
            You did not win.
        {% endif %}
    <br/>
         After 5 rounds, your total payoff is {{ my_payoff }} points and your opponent's total payoff is
         {{ opponent_payoff }} points.
    </p>

    {% next_button %}
{% endblock %}

