{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3 class="card-header">
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
            &emsp;In this study, you will be anonymously matched with another player. You will interact only via the computer
            and will not know which other student you are matched with. Each player will be randomly assigned a role:
            <b>Row</b> or <b>Column</b>. You will each simultaneously choose between four possible playing cards: Joker, Ace, Two, or
            Three. One player will then win 5 points while the other loses 5 points. Who wins and who loses depends on
            the combination of cards chosen. You will learn of the other player's decisions after both of you have made
            your choices.
            <br/> <br/>
            &emsp;The Row Player wins if both players choose Joker or if neither player chooses Joker and the cards
            mismatch.
            <br/>
            &emsp;The Column Player wins if exactly one player chooses the Joker or if neither player chooses Joker and
            the cards match.
        </p>

        <table class="table table-md table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="5" scope="col" class="text-center">Column<br></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th rowspan="5" scope="row" class="align-middle text-center">Row</th>
                    <td></td>
                        <th>Joker</th>
                        <th>Ace</th>
                        <th>Two</th>
                        <th>Three</th>
                </tr>
                <tr>
                    <th>Joker</th>
                        <td>(5, -5)</td>
                        <td>(-5, 5)</td>
                        <td>(-5, 5)</td>
                        <td>(-5, 5)</td>
                </tr>
                <tr>
                    <th>Ace</th>
                        <td>(-5, 5)</td>
                        <td>(-5, 5)</td>
                        <td>(5, -5)</td>
                        <td>(5, -5)</td>
                </tr>
                <tr>
                    <th>Two</th>
                        <td>(-5, 5)</td>
                        <td>(5, -5)</td>
                        <td>(-5, 5)</td>
                        <td>(5, -5)</td>
                </tr>
                <tr>
                    <th>Three</th>
                        <td>(-5, 5)</td>
                        <td>(5, -5)</td>
                        <td>(5, -5)</td>
                        <td>(-5, 5)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>