{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3 class="card-header">
            Instructions
        </h3>
        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
            &emsp;This experiment consists of ten consecutive decision rounds. Your total earnings will be the sum of your
            earnings from all these rounds.
            <br/>
            &emsp;You are a member of a group of {{ session.config.players_per_group }} participants. At the beginning of each round, each member receives an
            endowment of <b>{{ Constants.endowment }} tokens</b>. Your task is to decide how many tokens you would like to allocate to a <b>Group Project</b>
            (GP) and how many to keep for yourself in an <b>Individual Project</b> (IP). Each token not allocated to the Group
            Project will automatically be allocated to your Individual Project (IP). Your total earnings from the round
            include earnings from both your Individual Project and the Group Project. All participants in your group
            will simultaneously face the same decision situation.
            <br/>
            &emsp;You will earn one (1) token for each token allocated to your Individual Project. No other member in your
            group will earn tokens from your Individual Project.
            <br/>
            &emsp;For each token you allocate to the Group Project, you
            will earn 0.5 tokens. Each of the other four people in your group will also earn 0.5 tokens. Thus, the
            allocation of 1 token to the Group Project yields a total of 2.5 tokens for all of you together. Your
            earnings from the Group Project are based on the total number of tokens allocated by all members in your
            group. Each member will profit equally from the amount allocated to the Group Project. For each token
            allocated to the Group Project, each group member will earn 0.5 tokens regardless of who made the
            allocation. This means that you will earn from your own allocation as well as from the allocations of
            others.
            <br/><br/>
            &emsp;Your earnings in the round = tokens from your Individual Project + (0.5 * tokens from the Group Project)
            <br/><br/>
            &emsp;After all individuals have made their decisions in the round, you will be informed of the total allocation
            to the Group Project and your earnings from the round. <b>Individuals in your group will not be identified in
            any way.</b> Thus, information about individual allocations will be completely anonymous.
        </p>
    </div>
</div>