{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Second Price Auction
{% endblock %}

{% block content %}

    Please enter your value for the following round.
    {% if player.round_number == 1 %}
        {% formfield player.value label="Last two digits of your phone number:"%}
    {% elif player.round_number == 2 %}
        {% formfield player.value label="Date of birth (day of the month):"%}
    {% else %}
        {% formfield player.value label="Last two digits of your campus mailbox or street address:"%}
    {% endif %}

    {% next_button %}
{% endblock %}